<!-- Modal -->
<div
  class="modal fade"
  id="userTypeModal"
  tabindex="-1"
  aria-labelledby="userTypeModalLabel"
  aria-hidden="true"
  #userTypeModal
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userTypeModalLabel">
          Selecciona tu usuario:
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <div class="modal-body text-center">
        <div class="d-grid gap-3">
          <a routerLink="/login-person" class="btn person-btn" (click)="closeModal()">Soy Persona</a>
          <a routerLink="/signup-company" class="btn company-btn" (click)="closeModal()">Soy Empresa</a>
        </div>
      </div>
    </div>
  </div>
</div>