.icon-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    padding: 15px 0;
    margin: 10px;
    position: relative;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon-container:hover {
    transform: translateY(-3px);
}

.icon {
    font-size: 24px;
    color: #999;
    transition: all 0.3s ease;
}

.icon-container:hover .icon {
    color: #555;
    transform: scale(1.1);
}

.icon-container.active .icon {
    color: var(--clr-primary); /* Usa tu color principal */
    transform: scale(1.2);
}