<div class="video-grid">
    <!-- mostrar total de espacio subido -->
    <div class="gallery-info">
        <span>Total de espacio utilizado: {{ totalUploadedMB | number:'1.2-2' }} MB</span>
    </div>
    <!-- Upload Button & Progress -->
    <div class="upload-container">
        <div *ngIf="uploadProgress === null; else progressTemplate" class="upload-button">
            <label for="video-upload">
                <i class="fas fa-plus"></i> Subir video
            </label>
            <input id="video-upload" type="file" accept="video/*" hidden (click)="$event.stopPropagation()"
                (change)="onFileSelected($event)">
        </div>
        <ng-template #progressTemplate>
            <div class="upload-progress">
                <div class="progress-bar" [ngStyle]="{ 'width': uploadProgress + '%' }">
                    {{ uploadProgress }}%
                </div>
                <div class="progress-size">
                    {{ uploadedSize | filesize }} de {{ totalSize | filesize }}
                </div>
            </div>
        </ng-template>
    </div>

    <!-- Videos Grid -->
    <div *ngFor="let video of userVideos" class="video-item" [ngClass]="{'expanded': expandedStates[video]}">
        <video controls #videoPlayer>
            <source [src]="video" type="video/mp4">
            Tu navegador no soporta videos.
        </video>
        <button class="toggle-button" (click)="toggleExpansion(video)">
            <i class="fas" [ngClass]="expandedStates[video] ? 'fa-compress' : 'fa-expand'"></i>
        </button>
        <button class="delete-button" (click)="deleteVideo(video)">
            <i class="fas fa-trash"></i>
        </button>
    </div>

    <!-- Loading State -->
    <div *ngIf="isLoading" class="loading-spinner">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
</div>

<!-- Modal de confirmación -->
<app-delete-confirm-modal [isVisible]="isDeleteModalVisible" [title]="'Eliminar Video'"
    [message]="'¿Estás seguro de que deseas eliminar este video?'" (confirm)="onDeleteConfirmed()"
    (cancel)="onDeleteCanceled()">
</app-delete-confirm-modal>