<section id="hero" class="text-center bg-light py-5">
  <header>
    <app-custom-button
    data-bs-toggle="modal"
    data-bs-target="#userTypeModal"
    label="Ingresar"
    ></app-custom-button>
  </header>

  <div class="container">
    <h1 class="display-4">Revolucionamos la contratación</h1>
    <p class="lead">
      Conecta con los mejores talentos para llevar tu empresa al siguiente
      nivel.
    </p>
    <a href="#cta" class="btn btn-primary btn-lg">Descubre cómo</a>
  </div>
</section>

<app-user-type-modal></app-user-type-modal>
