<div class="profile-container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="personal-data">Datos de Contacto:</label>

    <!-- Nombre Completo -->
    <div class="form-group">
      <label for="fullName">Nombre Completo:</label>
      <div class="input-group">
        <input id="fullName" formControlName="fullName" type="text" class="form-control"
          [readonly]="!editableFields['fullName']" />
        <button type="button" class="btn btn-secondary" (click)="toggleEdit('fullName')">
          {{ editableFields["fullName"] ? "Guardar" : "Editar" }}
        </button>
      </div>
      <div *ngIf="
          profileForm.get('fullName')?.invalid &&
          profileForm.get('fullName')?.touched
        " class="text-danger">
        El nombre es obligatorio y debe tener al menos 3 caracteres.
      </div>
    </div>

    <!-- Cédula -->
    <div class="form-group">
      <label for="cedula">Cédula:</label>
      <div class="input-group">
        <input id="cedula" formControlName="cedula" type="text" class="form-control"
          [readonly]="!editableFields['cedula']" />
        <button type="button" class="btn btn-secondary" (click)="toggleEdit('cedula')">
          {{ editableFields["cedula"] ? "Guardar" : "Editar" }}
        </button>
      </div>
      <div *ngIf="
          profileForm.get('cedula')?.invalid &&
          profileForm.get('cedula')?.touched
        " class="text-danger">
        La cédula es obligatoria.
      </div>
    </div>

    <!-- Teléfono -->
    <div class="form-group">
      <label for="phone">Teléfono:</label>
      <div class="input-group">
        <input id="phone" formControlName="phone" type="tel" class="form-control"
          [readonly]="!editableFields['phone']" />
        <button type="button" class="btn btn-secondary" (click)="toggleEdit('phone')">
          {{ editableFields["phone"] ? "Guardar" : "Editar" }}
        </button>
      </div>
      <div *ngIf="
          profileForm.get('phone')?.invalid &&
          profileForm.get('phone')?.touched
        " class="text-danger">
        Introduce un número de teléfono válido.
      </div>
    </div>

    <!-- Dirección -->
    <div class="form-group">
      <label for="direction">Dirección:</label>
      <div class="input-group">
        <input id="direction" formControlName="direction" type="text" class="form-control"
          [readonly]="!editableFields['direction']" />
        <button type="button" class="btn btn-secondary" (click)="toggleEdit('direction')">
          {{ editableFields["direction"] ? "Guardar" : "Editar" }}
        </button>
      </div>
    </div>

  </form>
</div>