/* Contenedor principal */
.profile-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  background: #f9f9f9;
}

.form-row {
  gap: 3em;
}

/* Grupos de formulario */
.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin: 0.5em 0 0 1em;
  font-weight: 500;
}

.profile-container p {
  white-space: pre-wrap;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
}