/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #006bcb;
    --2nd-color: #009087;
    --danger-color: #ffcabe;
    --bg-light: #ccc;
    --text-color: #333;
    --clr-black: #1e1e1e;
    --clr-blue: #3b82f6;
    --clr-green: #10b981;
    --clr-purple: #8b5cf6;
    --clr-red: #ef4444;
    --clr-white: #f5f5f5;
    --clr-yellow: #ffc107;
    --clr-dark: #121212;
}

body,
footer {
    font-family: "Poppins", sans-serif;
}

/* Estilo para centrar los elementos en un contenedor */
.display-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-red {
    border: red 1px solid;
}